#main
{
    height: 100vh;
    width: 1000px;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    
}

header
{
    border-bottom: solid black;
    height: 150px;
    padding: 10px;
}

#logo
{
    margin: auto;

}

.lk
{
    width: fit-content;
    border: solid 1px black;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}


